/** GENERAL **/

body {
    font-family: 'Raleway', sans-serif;
}
#accommodations {
    display: flex;
    width:  100%; 
    margin: 10px 50px;
} /* Section d'une taille de 100%, d'un margin top et bottom de 10px et right et left de 50px. Positionnement flex pour un placement des blocs enfants côte à côte */
h1 {
    font-weight: 700;
    font-size: 20px;
}
.bold {
    font-weight: 500;
} /* class bold des liens de navigation menant aux sections */
a {
    color: black;
    margin: 10px;
    text-decoration: none;
} /* couleur des liens ayant un margin global de 10px et absence de surlignement des liens */
.stars {
    display: flex;
    flex-direction: row;
    margin: 0px 0px 5px 7px;
    width: 7%;
}
.starsPopular {
    display: flex;
    height: auto;
}
.starsPopular img {
    width: 15px;
    height: 15px;
}
/** FIN GENERAL **/
/** HEADER **/

header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 0; 
    margin: 10px 50px;
} /* bloc header contenant une image, un bloc de navigations aux sections suivantes avec une propriété flex pour un agencement optimal */

header img {
    position: absolute;
    left: 50px;
    width: 10%;
}

nav {
    display: flex;
    flex-direction: row;
} /* bloc de navigations contenant 2 liens, positionnement  */
nav a {
    padding: 15px;
} /* placement des liens */
.blueText {
    color: #0065FC;
}
nav a:hover {
    border-top: 1px solid #0065FC;
    color: #0065FC;
} /* effet a survol des liens bordure top et de couleur bleue */
/** FIN HEADER **/
/** Section RECHERCHE **/
section,  #accommodations{
    margin: 10px 50px;
}
section h2 {
    font-size: 17px;
}
.recherche {
    padding: 7px;
    display: flex;
    width: 100%;
    height: 50px;
}
.localisation {
    background: #f2f2f2;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    display: flex;
}
.localisation img {
    width: 15px;
    padding: 10px;
    margin: 0 5px;
}
.input {
    border: 1.5px solid #f2f2f2;
    font-weight: bold;
    padding-left: 10px;
    font-size: 15px;
}
button {
    background: #0065FC;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-style: none;
}
#button:before  {
    content: "Rechercher";
    font-weight: bold;
    font-size: 14px;
    padding: 0 7px;
    color: white;
    margin: 0 auto;
}
.filters {
    display: flex;
    margin: 20px 0;
}
.filter p {
    font-weight: bold;
    margin: 0px 15px;
    font-size: 17px;
}
.FiltersPart {
    display: flex;
    align-items: center;
}
.FiltersPart p {
    font-weight: bold;
    font-size: 17px;
}
.filter {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 50px;
    border: 1px solid #f2f2f2;
    border-left-style: hidden;
    padding-bottom: 0px;
    height: 55px;
    margin: 0 15px;
}
.filter:hover {
    background: #f2f2f2;
    color: #0065fc;
}

.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: #deebff;
}
.filter img {
    width: 50%;
}

.moreInformations {
    display: flex;
    align-items: center;
}
.moreInformations img {
    width: 2%;
    margin-right: 10px;
}
/** FIN section RECHERCHE **/
/** HEBERGEMENTS **/

#accommodations {
    display: flex;
} /* Propriété permettant de placer les blocs l'uns à côté de l'autre sachant que le premier a une margin right de 5% */

/** debut BLOCS **/

.blockPart {
    background-color: #f2f2f2;
    display: flex;
    flex-wrap: wrap;
    border-radius: 20px;
    width: 55%;
    margin-right: 5%;
} /* bloc d'une taille de 55% avec une propriété flex wrap pour forçer les blocs enfants à aller à la ligne.*/
.blockPart p.bold {
    margin: 30px 15px;
}
.firstTitleBlock {
    margin-top: 20px;
    margin-left: 20px;
}
.firstTitleBlock h1.bold {
    margin-top: 15px;
    color: black;
}
.marginTitle {
    margin-left: 7px;
}
.bold, .bolder {
    font-weight: bold;
}
.blocks {
    display: flex;
    flex-wrap: wrap;
} /* bloc enfant avec une propriété wrap et contenant un ss bloc nommé block*/
.block {
    background-color: #fff;
    width: 29%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin: 15px;
    background-color: #fff;
    box-shadow: 1.5px 1.5px 5px 0px #8080803d;
} /* bloc enfant de blocks ayant une taille de 29 %. Utilisation de % et non de px pour une responsive simplifiée*/
.block a {
    margin: 5px;
    cursor: pointer; 
    text-decoration: none;
}
.block a .blocDivider {
    padding: 5px;
}
.img {
    width: auto;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    height: 135px;
} /* bloc destiné à l'image d'aperçu avec une hauteur fixe de 135px */
.img img {
    width: 100%;
    height: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    object-fit: cover;
} /* image d'aperçu avec une largeur et hauteur de 100 % pour utiliser tout l'espace du contenant*/

.stars img {
    width: 15px;
    height: 15px;
}
.block p {
    color: black;
    margin: 0;
    padding: 5px 7px;
}
.boldParagraph {
    font-weight: bold;
}
.block a {
    color: black;
}
/** FIN BLOCS **/
/** debut POPULAR **/

.popular {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding-bottom: 20px;
    width: 35%;
    height: 60%;
}
.titleBlock {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 70%;
    margin: 15px auto;
}
.titleBlock h1.bold {
    margin: 0;
}

.titleBlock img {
    width: 5%;
}

.popularBlock {
    width: 80%;
    height: auto;
    background: white;
    border-radius: 20px;
    margin: 10px auto;
    box-shadow: 2px 2px #8080801c;
    border-radius: 20px;
}
.popular .popularBlock a {
    display: flex;
    flex-direction: row;
    margin: 5px;
    color: black;
    cursor: pointer; 
    text-decoration: none;
} 
.imgPop1, .imgPop2, .imgPop3 {
    width: 30%;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    height: auto;
}
.imgPop {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

.popular .blocDivider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
    padding: 8px;
}

/** FIN BLOCS **/
/** debut ACTIVITES **/

#activites {
    margin: 10px 50px;
    width: auto;
}
.title {
    margin: 30px 0 10px 0;
}
.picturesActivites {
    display: flex;
    justify-content: space-between;
    width: auto;
}
.bigPicture, .ssBloc {
    width: 20%;
}
.firstPicture {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-size: cover;
    background-position: top;
    width: auto;
    height: 448px;
    background-image: url("images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
    box-shadow: 2px 2px #8080801c;
}
.secondPicture {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: auto;
    height: 43%;
    background-size: cover;
    background-position: center;
    background-image: url("images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
    box-shadow: 2px 2px #8080801c;
}
.thirdPicture {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: auto;
    height: 200px;
    background-size: cover;
    background-position: center;
    background-image: url("images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
    box-shadow: 2px 2px #8080801c;
    margin-top: 10px;
}
.fourPicture {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-size: cover;
    background-position: center;
    width: auto;
    height: 448px;
    background-image: url("images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
    box-shadow: 2px 2px #8080801c;
}
.fivePicture {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 43%;
    width: auto;
    background-size: cover;
    background-position: center;
    background-image: url("images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg");
    box-shadow: 2px 2px #8080801c;
}
.sixPicture {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 200px;
    width: auto;
    background-size: cover;
    background-position: center;
    background-image: url("images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
    box-shadow: 2px 2px #8080801c;
    margin-top: 10px;
}
.bigPicture h2 {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 1.5px 1.5px 5px 0px #8080803d;
    padding: 10px 0px 10px 7px;
    margin-top: 0;
    width: auto;
}
.ssBloc h2 {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 1.5px 1.5px 5px 0px #8080803d;
    padding: 10px 0px 10px 7px;
    margin-top: 0;
    width: auto;
}
#activities h2 {
    text-align: left;
    font-weight: bold;
}
.ssBloc img {
    width: 79%;
    height: 67%;
}
.ssBloc {
    background-color: #fff;
    height: 448px;
}

/** FIN ACTIVITES **/
footer {
    background-color: #f2f2f2;
    display: flex;
    margin: 50px 50px 0 50px;
}
.aPropos {
    margin: 10px auto 0 20px;
} 
.nosHebergements, .assistance {
    margin: 10px auto;
}

@media all and (min-width: 680px) and (max-width: 1024px) {
    .filtersPart {
        flex-wrap: wrap;
    }
    .filters {
        flex-wrap: wrap;
        margin: 0;
    }
    button{
        width: 20%;
    }
    #button:before  {
        content: "";
        background-image: url(images/logo/search-solid.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        display: initial;
        padding: 10px;
    }
    section h2 {
        font-size: 14px;
    }
    section p {
        font-size: 14px;
    }
    #accommodations {
        flex-direction: column;
    } /* placement en colonne en responsive pour tablette, hebergement au dessus du bloc des plus populaires*/
    .blockPart {
        width: auto;
        justify-content: center;
    }
    .blocks {
        justify-content: space-around;
    }
    .popular {
        display: block;
        width: 80%;
        margin: 10px auto;
    }
    .popular .titleBlock {
        width: 80%;
        margin: 25px auto;
    }
    .titleBlock img {
        width: 6%;
    }
    .popularBlock {
        height: 140px;
    }
    .imgPop {
        height: -webkit-fill-available;
        margin-top: 5px;
    }
    footer {
        justify-content: space-around;
    }
    .aPropos, .nosHebergements, .assistance {
        margin: 0;
    }
}
@media all and (min-width: 300px ) and (max-width: 680px) {
    header {
        padding: 0;
        width: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    } /* En version mobile : padding de 0 pour un placement en haut de page avec une taille prenant toute la largeur de la page, et une propriété flex wrap pour forcer les éléments à aller à la ligne */
    header img {
        width: 40%;
        order: 1;
        position: initial;
    }
    header nav {
        width: 100%;
        order: 3;
    } /* ordre de placement en 3ème position dans le header pour être positionné à la ligne (via propriété flex wrap) et d'une taille de 100% */
    header nav a {
        padding: 0px;
        border-top: none;
        border-bottom: 1px solid #f2f2f2;
        width: 100%;
        text-align: center;
        margin: auto;
    } /* placement des liens côte à côte pour être fidèle à la maquette et d'une bordure bordure légérement grisée. Suppression de bordure top et utilisation de margin auto pour un positionnement centré */
    .bold {
        margin: auto;
    }
    nav a:hover {
        border-top: none;
        border-bottom: 1px solid #0065FC;
        color: #0065FC;
    } /* effet au survol d'une bordure bottom de couleur bleue */
    header, section, .recherche, #accommodations {
        margin: 0;
    }
    .recherche {
        padding: 0;
        height: auto;
    }
    #accommodations {
        flex-direction: column-reverse;
    }
    h1 {
        margin: 10px auto;
    }
    .bold {
        margin: 10px auto;
    }
    a.bolder {
        font-weight: bold;
        order: 2;
        align-self: flex-end;
    }
    input.input {
        width: 60%;
    } 
    section {
        width: auto;
    }
    .FiltersPart {
        align-items: flex-start;
        flex-direction: column;
        margin: 0 auto;
    }
    .filters {
        flex-wrap: wrap;
        margin: 0;
    }
    .filter {
        margin: 0 10px 15px 0;
    }
    .moreInformations {
        position: inherit;
        margin: 0 auto;
    }
    .moreInformations img {
        width: 7%;
    }
    .moreInformations p {
        margin-left: 15px; 
    }
    button {
        width: 15%;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
    }
    #button:before {
        content: "";
        background-image: url(images/logo/search-solid.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        display: initial;
        padding: 10px;
    }
    #accommodations {
        width: auto;
        justify-content: center;
        flex-direction: column-reverse;
    } /* placement des blocs enfants en colonne avec un sens inversé à celui prédéfini dans le code html */
    .blockPart {
        display: block;
        background-color: white;
        max-width: inherit;
    }
    .blocks {
        flex-direction: column;
        margin: 0 5px;
    }
    .block {
        width: auto;
        height: auto;
        margin: 5px 0;
        display: flex;
    }
    .block a .img {
        height: 170px;
    } /*hauteur de 170px  au lieu de 135 comme en responsive d'écran d'ordinateur pour une facilité visuelle en responsive*/
    .blocDivider h2.boldAccommodations {
        margin: 0;
    }
    .popular, .blockPart {
        margin: 5px;
        width: auto;
    }
    .titleBlock {
        margin: 15px auto;
        width: 90%;
        justify-content: space-between;
        align-items: baseline;
    }
    .popular {
        border-radius: 0;
    } 
    .titleBlock p.bold {
        margin: 0;
    }
    .titleBlock img {
        width: 7%;
    }
    .popularBlock {
        width: 90%;
        height: 140px;
        margin: 20px auto;
    }
    .popular .popularBlock a {
        margin: 5px;
        width: auto;
        height: 150px;
    }
    .popular .popularBlock a p {
        font-size: 14px;
    }
    .popular .popularBlock a h2 {
        font-size: 14px;
    }
    .popular .blocDivider {
        justify-content: end;
        width: 67%;
    }
    .blocDivider p {
        margin: 5px 0;
    }
    h2.bold {
        margin: 0;
    }
    .ssBlock {
        width: auto;
    }
    .imgPop1, .imgPop2, .imgPop3 {
        width: 40%;
        max-height: 100%;
    }
    .imgPop {
        height: 87%;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
    .imgPop img {
        max-width: 78%;
    }
    .starsPopular {
        padding: 20% 0;
    }
    .stars {
        width: 5%;
    }
    .boldParagraph {
        visibility: hidden;
    }
    #activites {
        width: auto;
        margin: 10px;
    }
    .title {
        margin: 7px 10px;
    }
    .title p {
        margin: 0 6px;
    }
    .bigPicture, .ssBloc {
        width: auto;
    }
    .picturesActivites {
        flex-direction: column;
        margin: 0;
    }
    .firstPicture, .fourPicture {
        height: 190px;
        width: auto;
        margin-top: 10px;
        background-size: 100%;
        background-position: left 25%;
        background-repeat: no-repeat;
    }
    .secondPicture {
        height: 190px;
        width: auto;
        margin-top: 10px;
        background-size: cover;
        background-position: left 45%;
        background-repeat: no-repeat;
    }
    .fivePicture {
        height: 190px;
        width: auto;
        margin-top: 10px;
        background-size: cover;
        background-position: left 20%;
        background-repeat: no-repeat;
    }
    .thirdPicture, .sixPicture {
        height: 190px;
        width: auto;
        margin-top: 10px;
        background-size: cover;
        background-position: left 25%;
        background-repeat: no-repeat;
    }
    .bigPicture h2.boldPolice {
        margin: 0;
    }
    .ssBloc h2.boldPolice {
        margin: 0;
    }
    .ssBloc {
        margin: 0; 
        height: auto;
    }
    footer {
        display: block;
        margin: 0;
    }
    .nosHebergements, .assistance {
        padding: 7px 10px;
        margin-left: 30px;
    }
    .aPropos {
        margin-left: 30px;
        margin-top: 30px;
        padding: 30px 10px 7px 10px;
    }
}